body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

#menu {
    display: flex;
    align-items: center;
    width: 100%;
}

#logo_href{
    display: block;
    width: 10%;
    margin: 5px;
    margin-right: 100px;
    float: left;
}

#logo_img {
    width: 100%;
}

#szukaj {
    background-color: white;
    float: left;
    width: 50%;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 15px;
}

#szukaj_input {
    float: left;
    width: 85%;
    height: 50px;
    background-color: white;
    border-radius: 15px 0 0 15px;
    border: none;
    margin: 0px;
}

#lupa {
    cursor: pointer;
    border-radius: 13px;
    float: left;
    background-color: rgb(52, 52, 52);
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lupa img {
    max-height: 50%;
}

.menu_href {
    float: left;
    padding: 10px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
}

.menu_button {
    width: 100%;
}


.menu_button:hover {
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
}

.menu_button img {
    max-height: 50px;
}

.menu_button_text {

    color: rgb(52, 52, 52);
    font-weight: bold;
}

#login-form {
    text-align: center;
}

#logo {
    width: 428px;
    /* dostosuj szerokość logo do własnych potrzeb */
    height: auto;
    /* utrzymanie proporcji */
    margin-bottom: 40px;
}

input {
    background-color: #D9D9D9;
    margin-bottom: 20px;
    padding: 16px;
    width: 378px;
    box-sizing: border-box;
    font-size: 20px;
}

button {
    background-color: #0076C4;
    /* Ustawienie koloru tła przycisku na niebieski */
    color: white;
    /* Ustawienie koloru tekstu na biały */
    padding: 16px;
    /* Dostosowanie paddingu do pól tekstowych */
    width: 378px;
    /* Dostosowanie szerokości do pól tekstowych */
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
}

#register-link {
    color: blue;
    text-decoration: none;
    font-size: 16px;
}

#container {
    width: 100%;
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.game-container {
    margin: 40px;
    width: 18%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid black;
}

.game-image-container {
    width: 70%;
    position: relative;
    height: 0;
    padding-bottom: 70%;
    background-color: #0076C4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
}

.game-image {
    position: absolute;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

.game-price {
    margin-top: 15px;
    /* Zwiększenie odstępu od obrazu */
    font-weight: bold;
    font-size: 40px;
    /* Zwiększenie rozmiaru czcionki */
    color: black;
    /* Zmiana koloru tekstu, możesz dostosować według potrzeb */
}

.game-title {
    margin-top: 5px;
    font-size: 16px;
}

.game-author {
    margin-top: 5px;
    font-style: italic;
    color: #666;
}